@import url("https://fonts.googleapis.com/css?family=Cairo");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
html {
    color:white;
}
body {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
#navbar {
    background: #4C9F70;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    /* border-bottom: solid; 
    border-color: #4C9F70;
    border-width: 5px; */
    box-shadow: 5px 5px 8px  rgb(47, 51, 47);
}
#nav-list {
    display: flex;
    justify-content: flex-start;
    color: white;
    list-style: none;
    font-family: Cairo;
}
.nav-item {
    font-size: 20px;
    font-weight: bold;
    text-transform: lowercase;
    height: 100%;
}
.nav-item a {
    padding: 5px;  
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.nav-item a:hover {
    background-color: rgba(22, 87, 50, 0.7);
    border-radius: 10px;
    transition: 0.4s ease-out;
}
#welcome-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: linear-gradient(50deg, #49516F 0%,#6279B8 100%);
}
#welcome-section h1 {
    text-decoration: yellowgreen underline;
    font-size: 50px;
}
#welcome-section h3 {
    font-size: 30px;
}
#welcome-section h1, h3 {
    font-family: 'Indie Flower', cursive;
}
#welcome-section p {
    font-family: Cairo;
    font-size: 20px;
    text-align: justify;
}
#profile{
    border-radius: 20px;
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 8px  rgb(47, 51, 47);
}
main {
    margin-top: 5px;
    background: linear-gradient(230deg,  #8EA4D2 0%,#0D0106 100%);
}
#projects {
    height: 100vh;
}
#projects h1 {
    text-decoration: yellowgreen underline;
    margin-top: 70px;
    margin-left: 10px;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
}
#project-grid {
    font-family: Cairo;
    display: grid;
    font-size: 35px;
    grid-template-rows: repeat(4, 50px);
    grid-row-gap: 70px;
    text-align: center;
    justify-content: center;
}
#project-text {
    margin-left: 15px;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}
#project-grid a {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    text-decoration: none;
}
#project-grid a:hover{
    text-decoration: yellowgreen underline;
    transition: 0.4s ease;
}
#links div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#link-grid a {
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 30px;
    font-family: Cairo;
    color: white;
    text-decoration: none;
}
#link-grid a:hover{
    text-decoration: yellowgreen underline;
    transition: 0.4s ease;
}
hr {
    height: 5px;
    border-width: 5px;
    border-style: solid;
}
@media(max-width: 350px) {
    welcome-section {
        padding: 10px;
    }
}

